//------------------------------------------------
//
// 	Section CONTACT
//
//------------------------------------------------*/


.section-contact {
	
	.contact-info {
		text-align: center;
		
		li {
			padding: 3px 0;
			line-height: 1;
		}
	}
	
	span {
		display: inline-block;
		vertical-align: middle;
	}
	span.fa {
		margin-right: 10px;
		font-size: 25px;
		width: 25px;
	}
	span.fa-mobile {
		font-size: 30px;
	}
	span.fa-envelope {
		font-size: 18px;
	}
	
	.form-container {
		.form-group {
			text-align: center;
		}
	}
}

// wrong or right label below form field
label[data-error="wrong"]:after {
    margin-top: 20px;
}

#message {
	margin-bottom: 20px;
	padding: 0;
}

.error_message {
	display: block;
	background: #FBE3E4;
	padding: 10px 0 10px 15px;
	color: #8a1f11;
	border: 2px solid #FBC2C4;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
