//------------------------------------------------
//
// 	Section HERO - top
//
//------------------------------------------------*/


.section-hero {
	position: relative;
	z-index: 1;
	background-color: #2f384f;
	
	h1 {
		display: none;
	}
	.parallax-container {
		height: auto;
	}
	
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(34, 92, 157, 0.75);
		background-size: 50% auto;
		z-index: 2;
	}
	.container {
		position: relative;
		z-index: 3;
	}
	.contact-wrapper {
		 text-align: center;
	}
	
	// logo
	.hero-logo {
		max-width: 500px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 30px;
		margin: 0 auto 30px;
		
		@media #{$medium-and-down} {
			max-width: 270px;
		}
		
		
		img {
			width: 100%;
		}
	}
	
	// introductory paragraph
	.intro {
		margin: 0 auto 40px;
		text-align: center;
		max-width: 500px;
	    font-size: 25px;
		font-weight: 100;
		line-height: 1.4;
		
		@media #{$medium-and-down} {
			max-width: 270px;
			font-size: 18px;
		}		
	}
	

	
	// address - phone numbers
	.hero-contact,
	.hero-address {
	    border: 1px solid #ccc;
	    text-align: left;
	    min-width: 270px;
	    margin: 0 auto 20px;
	    
	    @media #{$medium-and-up} {
		    width: 270px;
		    display: inline-block;
		    vertical-align: top;
		    height: 110px;
		    font-size: 15px;
	    }
	}
	
	// add margin to address
	.hero-address {	    
	   @media #{$medium-plus} {
		    margin-right: 30px;
	    }
	    
	    a {
		    color: #fff;
		    
		    &:hover {
			    color: #a4d3e3;
		    }
	    }
	}
	
	// map and phone icons
	.icon {
		width: 60px;
		//padding: 20px;
		border-right: 1px solid #ccc;
		display: inline-block;
		vertical-align: middle;
		height: 108px;
		position: relative;
		
		@media #{$small-and-down} {
			height: 80px;
		}
		
		i.fa {
			font-size: 40px;
			position: absolute;
			@include center($xy:xy);
		}
	}
	
	// contact and address info
	.details {
		padding: 15px;
		display: inline-block;
		vertical-align: middle;	
	}
	
	// down arrow
	.scroll-link {
		text-align: center;
		margin: 60px 0 0;
		
		@media #{$small-and-down} {
			margin-top: 30px;
		}
		
		a {
			display: inline-block;
			width: 30px;
			height: 30px;
			background: url(../images/icon-arrow-down.svg) no-repeat scroll center center;
			background-size: 30px auto;
		}	
	}
}