//------------------------------------------------
//
// 	Section SERVICES
//
//------------------------------------------------*/




.section-services {
	padding-bottom: 0;
	
	.flex-grid {
		@include flexbox;
		@include flex-wrap($value: wrap);

	}
	.flex-grid-item {
	    margin-bottom: 50px;
	    line-height: 1.6;
	    
	    @media #{$medium-and-down} {
			@include flex($fg: 0, $fs: 0, $fb: 100%);
		}
	    @media #{$large-and-up} {
			@include flex($fg: 0, $fs: 0, $fb: 50%);
			
			&:nth-child(even) {
			    padding-left: 30px;
			}
			
			&:nth-child(odd) {
			    padding-right: 30px;
			}
		}
		
		h3 {
			text-align: center;
			@include font-size(26px);
		}
		
		.icon {
			max-width: 250px;
			margin: 0 auto 30px;
		}
	}


}