//------------------------------------------------
//
// 	Section SERVICES
//
//------------------------------------------------*/


.section-services {

	.col {
		margin-bottom: 40px;
		
		@media #{$large-and-up} {
			padding: 0 30px;
		}
	}
	
	h3.title {
		text-align: center;
		font-size: 30px;
		font-weight: 400;
		padding-bottom: 20px;
		border-bottom: 1px solid $border-color;
		margin-top: 0;
		
		@media #{$medium-only} {
			text-align: left;
		}
	}
	
	.img-wrapper {
		@media #{$small-and-down} {
			width: 80%;
			margin: 0 auto 30px;
		}
		@media #{$medium-only} {
			float: left;
			width: 30%;
			margin-right: 5%;
		}
		@media #{$large-and-up} {
		    max-width: 70%;
		    margin: 0 auto 30px;
	    }
	}
	.details-wrapper {
		@media #{$medium-only} {
			float: left;
			width: 65%;
		}
	}
}


