a {
  text-decoration: none;
}

html {
  line-height: 1.6;

  @media only screen and (min-width: 0) {
    font-size: 15px;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 16px;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: 18px;
  }

  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.1;
	margin-top: 0;
}

h2.section-title {
	text-align: center;
	color: $primary-color;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1px solid $border-color;	
	@media #{$small-and-down} {
		font-size: 2.2rem;
	}
}

h3 {
	font-size: 1.9rem;
}

strong {
	font-weight: 700;
}